
@media screen and (max-width:1900px){
    .pagination_first{
        width: 59%;
    }
}
@media screen  and (min-width:1604px) and (max-width:1800px){
    .first_meat_sec{
        height: 550px;
    }
    .best_offer img {
        width: 250px;
        height: 280px;
    }
    .beef_meat {
        width: 203px;
        height: 185px;
}
.goods_item_content img{
    width: 160px;
}
.goods_item_header a{
    font-size: 20px;
}
.goods_in_basket{
    font-size: 18px;
}
.goods_item_price{
    font-size: 15px;
}
.count_input__label{
    font-size: 17px;
}
.pagination_first{
    width: 62%;
}
.company__description_first{
    padding-right: 25px;
}
}

@media screen and (min-width:1540px) and (max-width:1603px){
    .navigator_header ul li a{
        font-size: 26px;
    }
    .company__description_first{
        padding-right: 25px;
    }
    .registr button{
        font-size: 24px;
    }
    .first_meat_sec{
        height: 490px;
    }
    .best_offer img {
        width: 225px;
        height: 270px;
    }
    .beef_meat {
        width: 181px;
        height: 155px;
    }
.beef h3 {
    font-size: 28px;
}
.beef a, .company a{
    font-size: 20px;
    padding: unset;
}
.goods_item_content img{
    width: 120px;
    height: 175px;
}
.goods_item_header a{
    font-size: 20px;
}
.goods_in_basket{
    font-size: 18px;
}
.goods_item_price{
    font-size: 15px;
}
.count_input__label{
    font-size: 17px;
}
.pagination_first{
    width: 65%;
}
.basket{
    font-size: 52px!important;
    left:45px;
}
.toggle-container label{
    width: 60px;
    margin-left: 7px;
}
.submenu_item{
    margin-left: -8%;
}
.second_submenu{
    left: 44%;
}
}

@media screen and (min-width:1457px) and (max-width:1539px){
    .navigator_header ul li a{
        font-size: 22px;
    }
    .registr button{
        font-size: 22px;
    }
    .search{
        height: 40px;
     
    }
    .company__description_first{
        padding-right: 25px;
    }
    .first_meat_sec{
        height: 490px;
    }
    .best_offer img {
        width: 205px;
        height: 230px;
    }
    .beef_meat {
        width: 181px;
        height: 155px;
    }
.beef h3 {
    font-size: 28px;
}
.beef a, .company a{
    font-size: 20px;
    padding: unset;
}
.search{
    width: 85%;
}
.search  input{
    width: 95%;
}
.search_btn{
    padding: 0 15px;
    font-size: 15px;
}
.goods_item_content img{
    width: 100px;
    height: 160px;
}
.goods_item_header a{
    font-size: 18px;
}
.goods_in_basket{
    font-size: 15px;
    padding: 5px 15px;
    align-items: center;
}
.category_meat__item p{
    font-size: 24px;
}
.pagination_first{
    width: 67.5% ;;

}
.goods_item_price{
    font-size: 13px;
}
.count_input__label{
    font-size: 15px;
}
.submenu_item{
    margin-left: -16%;
}
.second_submenu{
    left: 38%;
}
}
@media screen and (min-width:1285px) and (max-width:1456px){
    .navigator_header ul li a{
        font-size: 19px;
    }
    .registr button{
        font-size: 19px;
    }
    .search{
        height: 37px;
    }
    .company__description_first{
        padding-right: 25px;
    }
    .logo_part{
        width: 200px;

    }
    .logo_name{
        font-size: 55px;
    }
    .registr {
      
        margin-top: 47px;
    }
    .first_meat_sec{
        height: 450px;
    }
    .best_offer img {
        width: 200px;
        height: 210px;
    }
    .beef_meat {
        width: 181px;
        height: 155px;
    }
.beef h3 {
    font-size: 28px;
}
.beef a, .company a{
    font-size: 20px;
    padding: unset;
}
.search{
    width: 85%;
}
.search  input{
    width: 90%;
}
.search_btn{
    padding: 0 15px;
    font-size: 15px;
}
.goods_item_content img{
    width: 90px;
    height: 140px;
}
.category_meat__item p {
    font-size: 17px;
}
.goods_item_header a{
    font-size: 16px;
    padding: 5px 7px;
}
.goods_in_basket{
    font-size: 12px;
    padding: 5px 15px;
    align-items: center;
}

.pagination_first{
    width: 74.5% ;;

}
.goods_item_price{
    font-size: 10px;
}
.count_input__label{
    font-size: 12px;
}
.count_input{
    width: 15px;
    height: 15px;
}
.submenu_item{
    margin-left: -21%;
}
.second_submenu{
    left: 28%;
}
}

@media screen and (min-width:1025px) and (max-width:1285px){
    .navigator_header ul li a{
        font-size: 16px;
    }
    .navigator_header svg{
        width: 12px;
        height: 12px;
    }

    .registr button{
        font-size: 16px;
    }
    .search{
        height: 30px;
    }
    .company__description_first{
        padding-right: 25px;
    }
    .logo_part{
        width: 150px;
        margin-top: 40px;
    }
    .navigator_header ul li button,.category_menu_btn{
    margin-left: -6px;
    }
    .logo_part img{
        width: 140px;
    }
    .navigator_header ul{
        gap: 14px;
    }
    .search_btn {
        font-size: 16px;
    }
    .logo_name{
        font-size: 40px;
    }
    .vip_header{
        font-size:65px;
    }
    .company p{
        font-size: 15px;
    }
    .registr {
      
        margin-top: 35px;
    }
    .search_btn{
        padding: 0 10px;
    }
    .first_meat_sec{
        height: 350px;
    }
    .best_offer img {
        width: 160px;
        height: 160px;
    }
    .beef_meat {
        width: 121px;
        height: 135px;
        left: 50px;
    }
    .product_name{
        font-size: 15px;
    }
    .product{
        height: 650px;
    }
.beef h3 {
    font-size:15px;
    text-align: end;
    line-height: 25px;
}
.beef a, .company a{
    font-size: 15px;
    padding: unset;
    height: 30px;
    width: 155px;
}
.social_media i{
    font-size: 20px;
}
.search{
    width: 72%;
}
.search  input{
    width: 90%;
}
.search_btn{
    padding: 0 15px;
    font-size: 15px;
}
.logo_part{
    margin-left: 40px;
}
.goods_item_content img {
    width: 75px;
    height: 120px;
}
.category_meat__item p {
    font-size: 17px;
}
.goods_item_header a{
    font-size: 13px;
    padding: 5px 7px;
}
.goods_in_basket{
    font-size: 10px;
    padding: 3px 10px;
    align-items: center;
}

.pagination_first {
    width: 670px;
}
.goods_item_price{
    font-size: 8px;
}
.count_input__label{
    font-size: 10px;
}
.count_input{
    width: 15px;
    height: 15px;
}
.category_meat__item{
    width: 140px;
}
.category_meat__item p {
    font-size: 13px;
}
.category_meat__item button svg{
    width: 10px;
    height: 10px;
}
.pagination_first a{
    width: 19px;
    height: 19px;
}
.submenu_item{
    margin-left: -43%;
}
.second_submenu{
    left: 15%;
}
}

@media screen and (min-width:1024px) and (max-width:1150px){
    .goods_item_content img {
        width: 60px;
        height: 90px;
    }
    .goods_item_header a {
        font-size: 11px;
    }
    .goods_in_basket {
        font-size: 8px;
    }
    .count_input {
        width: 9px;
        height: 12px;
    }
    .goods_item_price{
        letter-spacing: 1px;
    }
   
}
@media screen and (min-width:1025px) and (max-width:1400px){
    .product__title{
        font-size: 20px;
    }
    .product_description{
        width: 100%;
        font-size: 9px;
        line-height: 15px;
    }
    .product__meat__price{
        font-size: 11px;
    }
    .product__price{
        width: 3%;
        font-size: 11px;
        border:2px solid #FFCC00;
    }
    .product_count button{
        font-size: 19px;
    }
    .product__add__basket{ 
        width: 60%;
        font-size:12px;
        height: 35px;
    }
    .basket{
        font-size: 35px;
        left: -15px;
    }
    .basket_btn{
        font-size: 70%;
    }
}
@media screen and (min-width:1286px){
    .basket{
        font-size: 43px;
        left:45px;
    }
}
@media screen and (min-width:1401px) and (max-width:1800px){
    .product__title{
        font-size: 20px;
    }
    .product_description{
        width: 100%;
        font-size: 13px;
        line-height: 18px;
    }
    .product__meat__price{
        font-size: 14px;
    }
    .product__price{
        width: 3%;
        font-size: 14px;
        border:2px solid #FFCC00;
    }
    .product_count button{
        font-size: 19px;
    }
    .product__add__basket{ 
        width: 50%;
        font-size:12px;
        height: 35px;
    }
}
@media screen and (min-width:320px) and (max-width:1024px){
    .logo_part a img{
    width: 44px;
    height: 22px;
    }
    .logo_text{
        font-size:21px;
        font-family: 'Kaufmann BT', arial;
        color: #FFCC00;
    }
    .search{
        align-items: flex-end;
    }
    .search_btn{
        position: relative;
        left: -31px;
        font-size:7px;
        padding: 1px 5px 11px;
    }
    .category_menu_btn svg {
        width: 6px;
        height: 6px;
    }
    .registr span {
        font-size: 10px;
    }
    .registr{
        margin-left: -6px;
        margin-top: -2px;
    }
    .navigator_header div ul li a{
        font-size: 7px;
    }
    .registr button{
        font-size: 7px;
    }
    .logo_name{
        font-size:14px;
        margin-top: unset;
    }
    .social_media i{
        font-size: 8px;
        margin-right: unset;
        margin-left: unset;
    }
    .navigator_header ul {
        margin-top: unset;
    }
    .navigator_header ul{
        gap: 7px;
    }
   
    .tel__mail a, .tel__mail p{
        font-size:6px;
        line-height: 10px;
        letter-spacing: 1px;
    }
    .footer__menu li a{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        font-size: 7px;
        line-height:10px;
        letter-spacing: 2px;
    }
    .footer__menu li a i{
        font-size: 10px;
    }
    .footer__menu{
        position: relative;
        top: 10px;
    }
    
    .search{
        width: 50%;
        height: 10px;
        top: unset;
    }
    .search svg{
        display: none;
    }
    .search input{
        border-radius: 30px;
        width: 87px;
        height: 10px;
    }
    .header_part{
        margin: unset;
    }
    .beef_meat{
        width: 50px;
        height: 50px;
        left: 6px;
        bottom: -20px;
    }
    .header__sec__items{
        margin-left: -23px;
    } 
   .toggle-container label{
    width: 27px;
    height: 15px;
    margin-top: 4px;
    }
    .toggle-container label:after{
    width: 10px;
    height: 9px;
    }
    .first_meat_sec{
        height: 160px;
    }
    .beef a, .company a{
     font-size: 6px;
     width: 55px ;
     height: 9px;
     
    }
    .company p{
        margin-top: unset;
        line-height: 22px;
        margin-bottom: 0px;
    }
    .best_offer_items {
       padding-top: 102px;
    }
    .best_offer_items h2{
        font-size: 10px;
    }
    .slick-prev i, .slick-next i{
        font-size: 25px;
    }
    .best_offer img {
        width: 200px;
        height: 160px;
    }
    .best_offer{
        height: 400px;
        padding-top: 20px;
    }
    .vip__last{
        position: relative;
        top: 100px;
    }
    .vip_header_last {
        font-size: 35px;
    }
    .quality{
        line-height: 1.5;
        font-size: 9px;
    }
    .product_name{
        font-size: 15px;
    }
    .in_basket{
        height: 30px;
        font-size: 12px;
    }
    .product {
        height: unset;
    }
    .beef a{
        margin-left: 26px;
    }
    .company h3{
        font-size: 9px;
    }
    .beef h3{
        font-size:8px;
        line-height: 15px;
    }
    .meat_icon {
        width: 55px;
        height: 40px;
    }
    .vip_header{
        font-size: 25px;
        margin-top: unset;
    }
    .company p{
        font-size: 7px;
    }
    .basket_section{
        width: 100%;
        margin: auto;
        position: relative;
        top: 10px;
    }
    .basket_header {
        font-size: 15px;
    }
    .empty_basket_p {
        font-size: 10px;
    }
    .basket_btn{
     font-size: 9px;
     min-width: 25%;
     height: 8px;
     padding: 10px;
    }
    .dark_bg{
        width: 100%;
        padding: 3px;
        border-radius: 5px;
    }
    .first_meat_sec{
       padding: 6px;
       width: unset;
       margin: unset;
    }
   .product_meat{
       width: fit-content;
       padding: 10px;
       gap: 10px;
       flex-direction: column;
       margin-top:40px;
   }
   .product_description{
       font-size: 9px;
       line-height: 16px;
       width: unset;
   }
   .product__content{
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-bottom: 10px;
   }
   .product_des{
       text-align: center;
   }
   .product__meat__price{
       font-size: 7px;
   }
   .product__price{
       font-size: 8px;
       border:2px solid #FFCC00;
   }
   .product_count{
        margin-left: 0px;
       justify-content: center;
       margin-top: 10px;
   }
   .product_count button{
       width: 15%;
       font-size: 15px;
   }
   .product__title{
       font-size: 15px;
   }
   .meat_product{
       width: 50%;
   }
    .basket{
        font-size: 14px;
        left: 24px;
        top: -5px;
    }
    
    .product__add__basket{
        font-size: 7px;
        width: 75%;
        height: 30px;
    }
    
    .category_meat__item p{
        font-size: 6px;
    }
    .category_meat__item button svg{
        width: 5px;
        height: 5px;
    }
    .category_meat__item{
        height: 5px;
        width: 37px;
        padding:5px 17px 5px 5px;
    }
    .category_meat__item__main{
        position: relative;
        top: -6px;
    }
  /*  */
    .goods_item_content img {
    width:20px;
    height: 20px;
}
.goods_item_content{
    gap: 3px;
}

.goods_item_header a{
    font-size: 6px;
    padding: 3px;
}
.goods_item_price {
    font-size: 6px;
    letter-spacing:0px;
}
.count_input{
    width: 4px;
    height: 6px;
    font-size: 6px;
}
.count_input__label{
    font-size: 7px;
}
.goods_in_basket {
    font-size: 5px;
    padding: 3px 10px;
}
.pagination_first a{
    font-size: 10px;
    height: 10px;
    padding: 5px;
    width: unset;
}
.pagination_first {
    width:200px;
}
.category_meat__item_submenu{
    padding: 0 50px 0 5px;
    z-index: 1;
    position: relative;
    top: -6.6px;
    left: -5px;
    border-radius:5px;
    width: 12%;
}
.goods_item {
    border-radius: 10px;
}
.goods_in_basket svg{
    width: 7px;
    height: 7px;
}
.category{
    width: 100%;
    gap: 7px;
}

.category_second__item{
  grid-template-columns: repeat(2,minmax(105px, 350px));  
  gap: 10px;
}
.registr_user{
    width: unset!important;
    height: 140px;
    padding:2px 100px 90px!important;
}
.enter_user{
 width: unset;
 height: 140px;
 padding:2px 100px 0;
}
.registr_user{
    width: unset;
    height: 140px;
    padding:2px 100px 50px;
}
.vip__food__enter__header{
    font-size: 12px;
    margin: 0 0 2px  0px;
}
.enter_content_form label{
    font-size:7px;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    height: 25px;
   
}
.reg_btn{
    margin:5px auto;
    float: unset!important;
    font-size: 12px!important;
    height: 20px!important;
}
.enter_content_form label:first-child{
 margin-top: 12px;
 
}
.enter_content_form input{
 /*width: 150px;*/
 height: 10px;
 font-size: 10px!important;

}

.enter_content_form{
    left: unset!important;
}
.enter_content svg,.registr_content svg{
    width: 50px;
    height: 15px;
}

.goods_item{
    padding: 5px;
}
.about__company{
    width: unset;
}
.company__content{
    padding: 5px;
}
.company__description_first p {
    font-size: 10px;
    line-height: 20px;
}
.meat_food_img {
    width: 110px;
    height: 100px;
}
.about_us__header h2,.about_us__header h3{
    font-size: 15px;
}
.submenu {
    top: unset;
    right: unset;
    left: 39px;
    width: 50%;
}
.submenu_item li a, .second_submenu li a{
    font-size: 6px!important;
}
.submenu_item{
    padding: 2px!important;
}
.second_submenu{
    padding:5px 2px!important;
    left: 97%;
    width: 50%;
    top: 19%;
}
.right_menu svg{
    width: 6px;
    height: 6px;
}
}
@media screen and (min-width:400px) and (max-width:549px){
    .goods_item_content{
        gap: 5px;
    }
    .goods_item_content img {
        width: 35px;
        height: 40px;
    }
    
    .category_meat__item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: #FFFFFF;
        border-radius: 35px;
       
        
    }
}
@media screen and (min-width:1600px) and (max-width:1920px){
    .basket{
        font-size: 52px!important;
        left:65px;
    }
    .toggle-container label{
        width: 60px;
        margin-left: 7px;
    }
}
@media screen and (min-width:350px) {
    .header_part{
        width: 95%;
    }
}
@media screen and (min-width:550px) and (max-width:700px){
    .navigator_header div ul li a,.social_media i,.registr button,.company h3,
    .company p{
        font-size: 10px;
    }
    .logo_part a img {
        width: 48px;
        height: 26px;
    }
    .search input{
        width: 106px;
    }
    .company a{
        font-size: 9px;
        width: 67px;
    }
    .beef a{
        font-size: 8px;
        width: 70px;
    }
    .tel__mail a, .tel__mail p {
        font-size:10px;
        line-height: 25px;
    }
    .tel__mail p {
        line-height: 10px;
    }
    .footer__menu li a{
        font-size: 10px;
        line-height: 30px;
    }
    .footer__menu li a i {
        font-size: 15px;
    }
    .quality{
        font-size: 12px;
    }
    .beef_meat{
        width: 70px;
        height: 70px;
        left: 10px;
        bottom: -20px;
    }
    .product_meat{
        flex-direction: row;
    }
    .meat_food_img {
        width: 160px;
        height: 145px;
    }
    .about_us__header h2,.about_us__header h3{
        font-size: 20px;
    }
    .company__description_first p {
        font-size: 15px;
        line-height: 26px;
    }
    .goods_item_content img {
        width: 80px;
        height: 80px;
    }
    .goods_item_price {
        font-size: 8px;
    }
    .goods_item_header a {
        font-size: 8px;
    }
    .goods_in_basket {
        font-size: 7px;
        align-items: center;
    }
    .count_input__label {
        font-size: 8px;
    }
    .count_input {
        width: 10px;
        height: 9px;
        font-size: 9px;
    }
    .goods_in_basket svg{
        width: 11px;
        height: 11px;
    }
    .submenu {
        top: unset;
        right: unset;
        left:55px;
        width: 50%;
    }
    .submenu_item li a, .second_submenu li a{
        font-size: 8px!important;
    }
    .submenu_item{
        padding: 4px!important;
    }
    .second_submenu{
        padding:5px 2px!important;
        left:94%;
        width: 50%;
        top: 19%;
    }
    .right_menu svg{
        width: 6px;
        height: 6px;
    }
}
@media screen and (min-width:701px) and (max-width:1024px){
    .navigator_header div ul li a,.social_media i,.registr button,.company h3,
    .company p{
        font-size: 15px;
    }
    .logo_part a img {
        width: 55px;
        height: 35px;
    }
    .search{
        height: 20px;
        top: 6px;
    }
    .search input{
        width: 150px;
        font-size: 15px;
        height: 18px;
    }
    .search_btn{
        font-size: 14px;
    }
    .company a{
        font-size: 15px;
        width: 67px;
    }
    .pagination_first {
        width: 368px;
    }
    .beef a {
        font-size: 10px;
        width: 91px;
        height: 24px;
    }
    .navigator_header ul{
        gap: 20px;
    }
    .logo_name{
        font-size: 24px;
    }
    .search{
        top: 13px;
    }
    .beef h3{
        font-size: 10px;
        line-height: 20px;
    }
    .meat_icon {
        width: 67px;
        height: 50px;
    }
    .first_meat_sec {
        height: 230px;
    }
    .company a{
        font-size: 10px;
        width: 91px;
        height: 24px;
        letter-spacing: 1px;
    }
    .best_offer_items h2 {
        font-size: 18px;
    }
    .basket{
    left: 27px;
    top:8px;
    }
    .basket i{
   font-size: 25px;
    }
    .registr span{
        font-size: 15px;
    }
    .registr{
        margin-top: 23px;
    }
    .tel__mail a, .tel__mail p {
        font-size:15px;
        line-height: 25px;
    }
    .tel__mail p {
        line-height: 15px;
    }
    .footer__menu li a{
        font-size: 15px;
        line-height: 30px;
    }
    .footer__menu li a i {
        font-size: 20px;
    }
    .quality{
        font-size: 15px;
    }
    .beef_meat{
        width: 90px;
        height: 90px;
        left: 16px;
        bottom: -20px;
    }
    .product_meat{
        flex-direction: row;
    }
    .meat_food_img {
        width: 220px;
        height: 180px;
    }
    .about_us__header h2,.about_us__header h3{
        font-size: 25px;
    }
    .company__description_first p {
        font-size: 17px;
        line-height: 26px;
    }
    .goods_item_content img {
        width: 80px;
        height: 80px;
    }
    .goods_item_price {
        font-size: 8px;
    }
    .goods_item_header a {
        font-size: 8px;
    }
    .basket_btn{
        font-size: 9px;
        min-width: 13%;
       
       }
    .goods_in_basket {
        font-size: 7px;
        align-items: center;
    }
    .count_input__label {
        font-size: 8px;
    }
    .count_input {
        width: 10px;
        height: 9px;
        font-size: 9px;
    }
    .goods_in_basket svg{
        width: 11px;
        height: 11px;
    }
    .category{
        gap: 30px;
    }
    .category_meat__item {
       width: 100px;
        height: 10px;
    }
    .category_meat__item_submenu{
        width: 67%;
    }
    .category_meat__item p{
        font-size: 9px;
    }
    .category_meat__item_submenu {
        background: white;
    }
    .category_second__item{
        gap: 24px;
    }
    .submenu {
        left:95px;
    }
    .submenu_item li a, .second_submenu li a{
        font-size: 10px!important;
    }
    .second_submenu {
        left: 65%;
        top: 23%;
    }
    .right_menu svg{
        width: 6px;
        height: 6px;
    }
}
@media screen and (min-width:795px) and (max-width:1024px){
    .goods_item_content {
        gap: 30px!important;
    }
    .goods_item {
        padding: 15px;
    }
    .goods_item_header a {
        font-size: 12px;
    }
    .goods_item_price {
        font-size: 12px;
    }
    .count_input__label {
        font-size: 11px;
    }
    .count_input {
        width: 12px;
        height: 11px;
        font-size: 11px;
    }
    .goods_in_basket {
        font-size: 11px;
    }
    .goods_in_basket svg {
        width: 17px;
        height: 23px;
    }
}