
@media screen and (max-width:1900px){
    .pagination_first{
        width: 59%!important;
    }
}
@media screen  and (min-width:1604px) and (max-width:1800px){
    .first_meat_sec{
        height: 550px!important;
    }
    .best_offer img {
        width: 250px!important;
        height: 280px!important;
    }
    .beef_meat {
        width: 203px!important;
        height: 185px!important;
}
.goods_item_content img{
    width: 160px!important;
}
.goods_item_header a{
    font-size: 20px!important;
}
.goods_in_basket{
    font-size: 18px!important;
}
.goods_item_price{
    font-size: 15px!important;
}
.count_input__label{
    font-size: 17px!important;
}
.pagination_first{
    width: 62%!important;
}
.company__description_first{
    padding-right: 25px!important;
}
}

@media screen and (min-width:1540px) and (max-width:1603px){
    .navigator_header ul li a{
        font-size: 26px!important;
    }
    .company__description_first{
        padding-right: 25px!important;
    }
    .registr button{
        font-size: 24px!important;
    }
    .first_meat_sec{
        height: 490px!important;
    }
    .best_offer img {
        width: 225px!important;
        height: 270px!important;
    }
    .beef_meat {
        width: 181px!important;
        height: 155px!important;
    }
.beef h3 {
    font-size: 28px!important;
}
.beef a, .company a{
    font-size: 20px!important;
    padding: unset!important;
}
.goods_item_content img{
    width: 120px!important;
    height: 175px!important;
}
.goods_item_header a{
    font-size: 20px!important;
}
.goods_in_basket{
    font-size: 18px!important;
}
.goods_item_price{
    font-size: 15px!important;
}
.count_input__label{
    font-size: 17px!important;
}
.pagination_first{
    width: 65%!important;
}
}
@media screen and (min-width:1457px) and (max-width:1539px){
    .navigator_header ul li a{
        font-size: 22px!important;
    }
    .registr button{
        font-size: 22px!important;
    }
    .search{
        height: 40px!important;
    }
    .company__description_first{
        padding-right: 25px!important;
    }
    .first_meat_sec{
        height: 490px!important;
    }
    .best_offer img {
        width: 205px!important;
        height: 230px!important;
    }
    .beef_meat {
        width: 181px!important;
        height: 155px!important;
    }
.beef h3 {
    font-size: 28px!important;
}
.beef a, .company a{
    font-size: 20px!important;
    padding: unset!important;
}
.search{
    width: 85%!important;
}
.search  input{
    width: 95%;
}
.search_btn{
    padding: 0 15px!important;
    font-size: 15px!important;
}
.goods_item_content img{
    width: 100px!important;
    height: 160px!important;
}
.goods_item_header a{
    font-size: 18px!important;
}
.goods_in_basket{
    font-size: 15px!important;
    padding: 5px 15px!important;
    align-items: center;
}
.category_meat__item p{
    font-size: 24px!important;
}
.pagination_first{
    width: 67.5% !important;;

}
.goods_item_price{
    font-size: 13px!important;
}
.count_input__label{
    font-size: 15px!important;
}
}
@media screen and (min-width:1285px) and (max-width:1456px){
    .navigator_header ul li a{
        font-size: 19px!important;
    }
    .registr button{
        font-size: 19px!important;
    }
    .search{
        height: 37px!important;
    }
    .company__description_first{
        padding-right: 25px!important;
    }
    .logo_part{
        width: 200px!important;

    }
    .logo_name{
        font-size: 55px!important;
    }
    .registr {
      
        margin-top: 47px!important;
    }
    .first_meat_sec{
        height: 450px!important;
    }
    .best_offer img {
        width: 200px!important;
        height: 210px!important;
    }
    .beef_meat {
        width: 181px!important;
        height: 155px!important;
    }
.beef h3 {
    font-size: 28px!important;
}
.beef a, .company a{
    font-size: 20px!important;
    padding: unset!important;
}
.search{
    width: 85%!important;
}
.search  input{
    width: 90%;
}
.search_btn{
    padding: 0 15px!important;
    font-size: 15px!important;
}
.goods_item_content img{
    width: 90px!important;
    height: 140px!important;
}
.category_meat__item p {
    font-size: 17px!important;
}
.goods_item_header a{
    font-size: 16px!important;
    padding: 5px 7px!important;
}
.goods_in_basket{
    font-size: 12px!important;
    padding: 5px 15px!important;
    align-items: center;
}

.pagination_first{
    width: 74.5% !important;;

}
.goods_item_price{
    font-size: 10px!important;
}
.count_input__label{
    font-size: 12px!important;
}
.count_input{
    width: 15px!important;
    height: 15px!important;
}
}

@media screen and (min-width:1025px) and (max-width:1285px){
    .navigator_header ul li a{
        font-size: 16px!important;
    }
    .navigator_header svg{
        width: 12px!important;
        height: 12px!important;
    }

    .registr button{
        font-size: 16px!important;
    }
    .search{
        height: 30px!important;
    }
    .company__description_first{
        padding-right: 25px!important;
    }
    .logo_part{
        width: 150px!important;
        margin-top: 40px;
    }
    .navigator_header ul li button,.category_menu_btn{
    margin-left: -6px;
    }
    .logo_part img{
        width: 140px;
    }
    .navigator_header ul{
        gap: 14px!important;
    }
    .search_btn {
        font-size: 16px!important;
    }
    .logo_name{
        font-size: 40px!important;
    }
    .vip_header{
        font-size:65px!important;
    }
    .company p{
        font-size: 15px!important;
    }
    .registr {
      
        margin-top: 35px!important;
    }
    .search_btn{
        padding: 0 10px!important;
    }
    .first_meat_sec{
        height: 350px!important;
    }
    .best_offer img {
        width: 160px!important;
        height: 160px!important;
    }
    .beef_meat {
        width: 121px!important;
        height: 135px!important;
        left: 50px!important;
    }
    .product_name{
        font-size: 15px!important;
    }
    .product{
        height: 650px!important;
    }
.beef h3 {
    font-size:15px!important;
    text-align: end;
    line-height: 25px!important;
}
.beef a, .company a{
    font-size: 15px!important;
    padding: unset!important;
    height: 30px!important;
    width: 155px!important;
}
.social_media i{
    font-size: 20px!important;
}
.search{
    width: 72%!important;
}
.search  input{
    width: 90%;
}
.search_btn{
    padding: 0 15px!important;
    font-size: 15px!important;
}
.logo_part{
    margin-left: 40px;
}
.goods_item_content img {
    width: 75px!important;
    height: 120px!important;
}
.category_meat__item p {
    font-size: 17px!important;
}
.goods_item_header a{
    font-size: 13px!important;
    padding: 5px 7px!important;
}
.goods_in_basket{
    font-size: 10px!important;
    padding: 3px 10px!important;
    align-items: center;
}

.pagination_first{
    width: 65% !important;;

}
.goods_item_price{
    font-size: 8px!important;
}
.count_input__label{
    font-size: 10px!important;
}
.count_input{
    width: 15px!important;
    height: 15px!important;
}
.category_meat__item{
    width: 140px!important;
}
.category_meat__item p {
    font-size: 13px!important;
}
.category_meat__item button svg{
    width: 10px!important;
    height: 10px!important;
}
.pagination_first a{
    width: 19px!important;
    height: 19px!important;
}
}
@media screen and (min-width:1024px) and (max-width:1150px){
    .goods_item_content img {
        width: 60px!important;
        height: 90px!important;
    }
    .goods_item_header a {
        font-size: 11px!important;
    }
    .goods_in_basket {
        font-size: 8px!important;
    }
    .count_input {
        width: 9px!important;
        height: 12px!important;
    }
    .goods_item_price{
        letter-spacing: 1px!important;
    }
}