/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media screen and (min-width:320px) and (max-width:1024px){
    @font-face {
        font-family: gothic;
        src: url(font/Century\ Gothic.ttf);
    }
    .header_part{
        display: none;
    }
    .mobile_header{
        display: block!important;
    }
    .mobile_navigation{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align:baseline;
            -ms-flex-align:baseline;
                align-items:baseline;
    }
    .meat_logo{
        width: 60px;
        height: 30px;
    }
    .logo_text{
        font-size:21px;
        font-family: 'Kaufmann BT', arial;
        color: #FFCC00;
    }
    .mob_logo{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: 40px;
    }
    .mob_search{
        width: 90px;
        background: #FFFFFF;
        height:-webkit-fit-content;
        height:-moz-fit-content;
        height:fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 10px;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    }
    .mob_search input{
        width: 90px;
        height: 10px;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
        border: none;
        outline: none;
    }
    .search_btn{
        position: relative;
        left: -35px;
        font-size:9px!important;
        padding: 0px 5px 12px!important;
    }
    .best_offer_items img{
     width: 120px!important;
     height: 80px!important;
    }
    .product_name{
        font-size: 13px!important;
    }
    .in_basket{
        font-size: 12px!important;
    }
    .mobile_header{
        padding-top: 30px;
    }
    .beef_meat{
        display: none;
    }
    .contact__and__menu{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .tel__mail a, .tel__mail p{
        font-size: 9px!important;
        line-height: 24px!important;
    }
    .footer__menu li a{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        font-size: 9px!important;
    }
    .footer__menu{
        margin-left: -32px;
    }
    .footer__menu li a i{
        font-size: 18px!important;
    }
    .burger_menu{
        position: absolute;
    }
    .burger_btn{
        border: none;
        outline: none;
        background: none;
        padding: 0;
    }
    .burger_btn i{
        font-size: 18px;
        color: #FFCC00;
    }
    .burger_menu li a{
    font-size: 15px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: 500;
    }
    .burger_menu{
        z-index: 1;
        background: #FFCC00;
        padding: 5px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;

    }
    .enter_system,.registration_system{
        background: none;
        border: none;
        padding: 0;
        font-size: 15px;
        color: #FFFFFF;
        line-height: 30px;
        font-weight: 500;
    }
    .dark_bg{
        max-height: 200px;
        padding: 0!important;
        margin: 5px auto!important;
    }
    
    .meat_icon{
        display: none;
    }
    
    .beef a, .company a{
     height: 9px!important;
     width: 70px!important;
     font-size: 8px!important;
     padding: 3px!important;
    }
    .beef h3{
        font-size: 8px!important;
        line-height: 19px!important;
    }
    .company h3{
    font-size: 15px!important;
    }
    .vip_header{
font-size: 30px!important;
    }
    .company p{
        font-size: 10px!important;
    } 
    .best_offer_items {
        padding-top: 30px!important;
    }
    .best_offer_items h2{
        font-size: 17px!important;
        color: #FFCC00!important;
    }
    .read_more{
        margin-top: -16px!important;
    }
    .best_offer{
        height: 200px!important;

    }
    .product_name:after{
        top: 15px!important;
        margin-bottom:0px!important;
    }
    .in_basket{
        height: 30px!important;
        margin-top: 20px!important;
    }
    .product_price{
        font-size: 10px!important;
    }
    .product{
        height: 250px!important;
    }
   .vip_header_last{
       margin-top: 70px!important;
       font-size: 40px!important;
   }
   .slick-prev i, .slick-next i{
       font-size: 30px!important;
   }
   .quality{
       font-size: 14px!important;
   }
   .contact_information{
       margin: 70px auto 0 auto!important;
   }
   .enter_content div svg,.registr_content div svg{
       width: 55px!important;
       height: 35px!important;
      
   }
   .vip__food__enter__header{
       font-size: 25px!important;
   }
   .registr_user{
       width: unset!important;
       height: 140px;
       padding:2px 100px 90px!important;
   }
   .enter_user{
    width: unset!important;
    height: 140px;
    padding:2px 100px 20px!important;
}
   .vip__food__enter__header{
       font-size: 12px!important;
       margin: 0 0 2px -10px!important;
   }
   .enter_content_form label{
       font-size: 10px!important;
       padding-left: 15px!important;
       -ms-flex-pack: distribute;
           justify-content: space-around;
       height: 25px;
   }
   .enter_content_form label:first-child{
    margin-top: 12px;
    
   }
   .enter_content_form input{
    width: 150px;
    height: 10px;
    font-size: 13px!important;
   }
   .enter_content_form{
       left: unset!important;
   }
   .reg_btn{
       margin:5px auto;
       float: unset!important;
       font-size: 12px!important;
       height: 20px!important;
   }
   .meat_food_img{
     max-width:50%!important;
     max-height: 350px!important;
   }
   .company__description_first p{
 margin: 0!important;
   }
   .about_us__header h2{
   font-size: 15px!important;
   }
   .about_us__header h3{
       font-size: 21px!important;
   }
   .company__description_first p{
       font-size: 11px!important;
   }
   .company__content{
       padding: 5px!important;
   }
   .category_meat__item {
       width: 65px!important;
   }
   .category_meat__item p{
       font-size: 9px!important;
   }
   .category_meat__item button svg{
       width: 7px!important;
       height: 7px!important;
   }
   .category{
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
   }
   .goods_item{
       width: 100%;
   }
   .bottom_part{
       top: unset!important;
   }
   .goods_in_basket {
       font-size: 11px!important;
       padding: 3px 15px!important;
       -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;
   }
   .pagination_first{
    margin-top: unset!important;
    position: relative;
    top: 175px;
   }
   .category{
       margin: unset!important;
   }
   .goods_item_content img {
       width: 70px!important;
       height: 70px!important;
   }
   .goods_item_price{
       font-size: 10px!important;
   }
   .count_input {
    width: 13px!important;
    height: 15px!important;
   }
   .count_input__label {
    font-size: 11px!important;
}
   .goods_item_header h3{
       font-size: 11px!important;
   }
   .contact__and__menu{
       flex-direction: column-reverse;
   }
   .tel__mail{
       align-self: unset!important;
   }
   .first_meat_sec{
    max-height:150px!important; 
   padding: 15px 15px!important;
  }
  .beef{
    max-height:200px!important; 
  }
  .maxres img {
    width: 97%!important;
}
.category_second__item{
    grid-template-columns: repeat(1,minmax(50%,90%))!important;
    margin-top: 40px;
}
.category__items{
    flex-direction: row!important;
    flex-wrap: wrap!important;
    column-gap: 10px;
}
#mob_pagnation{
    width: 31%!important;
}
}

@media screen and (min-width:490px) and (max-width:600px){
    .pagination_first{
        top: 141px!important;
    }
}
@media screen and (min-width:520px) and (max-width:800px){
    .pagination_first{
        top: 141px!important;
    }
    .goods_item_content{
        gap: 5px!important;
    }
    .goods_item{
        padding: 25px 20px 25px 10px!important;
    }
    .category_second__item{
        grid-template-columns: repeat(2,minmax(50%,90%))!important;
        margin-top: 40px;
        gap: 60px!important;
    }
    .goods_item_content img {
        width: 60px!important;
        height: 90px!important;
    }
    .goods_item_header h3 {
        font-size: 11px!important;
    }
    .goods_in_basket {
        font-size: 8px!important;
    }
    .count_input {
        width: 9px!important;
        height: 12px!important;
    }
    .goods_item_price{
        letter-spacing: 1px!important;
    }
    .goods_item_header h3{
        padding: 5px 14px!important;
    }
}
@media screen and (min-width:801px) and (max-width:1024px){
    .pagination_first{
        top: 141px!important;
    }
    .goods_item_content{
        gap: 40px!important;
    }
    .goods_item{
        padding: 25px!important;
    }
    #mob_pagnation{
        width: 17%!important;
    }
    
    .category_second__item{
        grid-template-columns: repeat(2,minmax(50%,90%))!important;
        margin-top: 40px;
        gap: 60px!important;
    }
    .goods_item_content img {
        width: 60px!important;
        height: 90px!important;
    }
   
    .goods_item_header h3 {
        font-size: 11px!important;
    }
    .goods_in_basket {
        font-size: 8px!important;
    }
    .count_input {
        width: 9px!important;
        height: 12px!important;
    }
    .goods_item_price{
        letter-spacing: 1px!important;
    }
    .goods_item_header h3{
        padding: 5px 14px!important;
    }
}
@media screen and (min-width:1005px) and (max-width:1024px){
    .pagination_first {
        top: 95px!important;
    }
}