@font-face {
    font-family:regArial;
    src: url(font/ofont.ru_Arial.ttf);
}
@font-face {
    font-family: gothic;
    src: url(font/Century\ Gothic.ttf);
}
body{
    font-family: regArial;
    margin: 0;
    padding: 0;
    background-image: url(img/Background.jpg) ;
    background-repeat: no-repeat;
  background-size: cover;
 
}
ul li{
    list-style: none;
}

a{
    text-decoration: none;
}
.container{
    width: 85%;
    margin: auto;
}
.header_part{
    width: 80%;
    margin: auto;
   
}
.navigator_header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
   
}
.navigator_header div{
z-index: 2;
}
.navigator_header ul{
    display: flex;
    margin-top: 70px;
    gap: 15px;
}
.navigator_header ul li a{
    color: #FFFFFF;
    font-size: 29px;
    letter-spacing: 1px;
    
}
.navigator_header ul li button{
 border: none;
 background: none;
 outline: none;
}
.social_media i{
    font-size: 30px;
    color: #FFFFFF;
    margin-right: 15px;
    margin-left: 15px;
}
.logo_part{
    display: flex;
    flex-direction: column;
}
.dark_bg{
    background: url(img/unnamed.jpg);
    width: 80%;
    border-radius: 15px;
    padding-top: 20px;
    margin: 40px auto;
    position: relative;
}
.search{
    width: 90%;
    height: 50px;
    background: white;
    border-radius: 35px;
    position: relative;
    left: 38px;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_btn{
    font-size: 23px;
    font-weight: bold;
    background: #FFCC00;
    border: none;
    height: inherit;
    justify-self: self-end;
    padding: 0 25px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-family: gothic;
}
.search svg{
    padding-left: 15px;
}
.search input{
    border: none;
    outline: none;
    font-size: 17px;
}
.first_meat_sec{
    display: flex;
    justify-content: space-between;
    height: 650px;
}
.meat_icon{
    width: 100px;
    height: 100px;
}
.first_meat_sec{
    width:97%;
    margin:auto;
    padding-bottom: 30px;
    padding-top: 15px;
    
}
.beef{
   width:50%;
   background: url(img/meat_bg.jpg);
   display: flex;
   justify-content: center;
   font-family: gothic;
   align-items: center;
}
.maxres{
    width:50%;
}
.maxres img{
    width:100%;
    height: 100%;
}
.beef h3{
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing:4px;
    line-height: 40px;
    font-family: gothic;
}
.beef h3 span{
    display: block;
    color: #FFCC00;
    text-align: end;
    font-family: gothic;
    font-weight: 600;
}
.beef a,.company a{
    border:2px solid #FFCC00;
    width: 210px;
    height: 50px;
    background: none;
    border-radius:5px;
    box-shadow: 0px 0px 5px 0px #FFCC00;
    font-size: 22px;
    color: #FFCC00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: gothic;
    font-weight: 700;
}
.read_more{
    margin-top: 30px;
}
.beef_meat{
    width: 250px;
    height: 215px;
    position: absolute;
    bottom: -50px;
    left: 120px;
    
}

.vip_header{
font-family: 'Kaufmann BT', arial;
font-size:70px;
color: #FFFFFF;
font-weight: 400;
margin-top:30px;
}
.company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.company h3{
    font-size: 30px;
    color: #FFCC00;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: gothic;
}
.company p{
    margin-top: -10px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
    letter-spacing: 2px;
    font-family: gothic;
    margin-bottom: 55px;
}
.company p span{
    color: #FFCC00;
    margin-right: 4px;
}
.best_offer_items {
    padding-top: 300px;
   
}
.best_offer{
    display: flex;
   align-items: center;
  padding-top: 100px;
 height: 870px;
}
.best_offer_items h2{
    font-family: gothic;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 2px;
}
.best_offer img{
    width:300px;
    height: 300px;
}
.product{
    display: flex!important;
    flex-direction: column!important;
    align-items: center;
    height: 800px;
}
.product_name{
    display: flex;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: gothic;
    letter-spacing: 3px;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
}
.product_name:after{
content: '';
display: inline-block;
width: 100%;
background: #FFFFFF;
height: 4px;
position: relative;
top: 50px;
opacity: 0.2;
margin-bottom: 40px;
text-align: center;
}


.product_price{
color: #FFFFFF;
font-size: 18px;
opacity: 0.7;
letter-spacing: 2px;
width: 100%;
text-align: center;
}
.in_basket{
    width: 45%;
    border:2px solid #FFCC00;
    height: 50px;
    background: none;
    border-radius:5px;
    box-shadow: 0px 0px 5px 0px #FFCC00;
    font-size: 20px;
    color: #FFCC00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: gothic;
    font-weight: 700;
}
.slick-prev i,.slick-next i{
color: #FFCC00;
font-size: 50px;
}

.vip_header_last{
    font-family: 'Kaufmann BT', arial;
    font-size:70px;
    color: #FFCC00;
    font-weight: 400;
    margin-top:-70px;
    text-align: center;
    }
.quality{
    font-family: gothic;
   font-size: 25px;
   color: #FFFFFF;
   letter-spacing: 4px;
   font-weight: 600;
   text-align: center;
   line-height: 0;
}
.contact_information{
    background-image: url(img/meat_bg.jpg);
   margin-top: 190px;
   border-radius: 15px;
   padding: 25px 25px 0 25px;
   width: 80%;
   margin:190px auto 0 auto ;
}
.contact__and__menu{
    background: hsl(0, 0%, 7%);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
}
.tel__mail a,.tel__mail p{
display: block;
font-family: gothik;
color: #FFFFFF;
letter-spacing: 3px;
font-size: 17px;
line-height: 28px;
opacity: 0.9;
}
.tel__mail{
align-self: flex-end;
}
.tel__mail p{
    line-height: 0px;
}
.footer__menu li a{
    font-family: gothic;
    color: #FFFFFF;
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.9;
}
.footer__menu li a i{
    margin-right: 10px;
    font-size: 27px;
    margin-top: 10px;
}
.registr{
    display:flex;
    margin-top: 35px;
}
.enter,.registr_field{
    display: none;
    
}
.registr button{
   
    background: none;
    outline: none;
    font-size: 25px;
    color: #FFFFFF;
    border: none;
    letter-spacing: 2px;
}

.registr span{
    font-size:25px;
    color: #FFFFFF;
}
.about__company{
    background: rgb(0,0,0,0.5);
    border-radius: 5px;
   width:80%;
   margin: 160px auto 240px auto;
}
.meat_food_img{
    width: 394px;
    height: 440px;
    
}
.company__content{
   width: 95%;
   margin:auto;
   padding: 40px;
}
.about_us__header{
    text-align: center;
}
.about_us__header h2{
    font-family: gothic;
    font-size: 41px;
    color: rgb(255,204,0);
    text-transform: uppercase;
    letter-spacing: 5px;
}
.first_menu{
    position: relative;
}
.first_menu ul{
    padding: 0;
   
}

.about_us__header h3{
    text-align: center;
    font-size: 41px;
    color: #FFFFFF;
    font-family: 'Kaufmann BT', arial;
    font-weight: 400;
}
.company__description_first p{
    font-size: 25px;
    color: #FFFFFF;
    font-family: gothic;
    width: 55%;
    line-height: 30px;
}
.company__description_first span{
    color: #FFCC00;
    margin-right: 15px;
}
.company__description_first{
  display: flex;
  justify-content: space-between;
  
}
.company__items div{
    margin-bottom:120px;
}
.company__description_three img{
    float: right;
}
.clearfix{
    clear: both;
}

.category__items{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.category__items div button{
    background: none;
    outline: none;
    border: none;
}

.category_meat__item{
    display: flex;
    background: #FFFFFF;
    border-radius: 35px;
    width: 200px;
    padding:5px 20px;
}
.category_meat__item p{
    width: 90%;
    margin: auto;
     font-size: 29px;
    font-weight: 700;
    letter-spacing: 2px;
}
.category{
    width: 80%;
    margin: auto;
    display: flex;
gap: 20px;
}
.category_second__item{
    display:  flex;
    flex-wrap: wrap;
    gap: 70px;
    row-gap: 70px;
}
.goods_item{
    padding: 25px;
    background: #FFFFFF;
    border-radius: 25px;
    height: fit-content;
}
.goods_item_content img{
    width: 200px;
    height: 200px;
}
.goods_item_content{
    display: flex;
    gap: 15px;
}
.goods_item_content__description{
    display: flex;
   flex-direction: column;
}
.goods_item_header h3{
    padding: 5px 20px;
    background: #FFCC00;
    width: fit-content;
    height: fit-content;
    font-size: 22px;
    letter-spacing: 2px;
    border-radius: 35px;
    margin: 0;
}
.goods_item_price{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
}
.count_input{
    width: 20px;
    height: 24px;
    text-align: center;
    margin-right: 5px;
}
.count_input__label{
    font-size: 20px;

}
.goods_in_basket{
    display: flex;
    font-size:22px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background: #FFCC00;
    border-radius: 35px;
    border:none;
    outline: none;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 5px;
    margin-top: 10px;
    
}
.pagination_first{
    display: flex;
    width: 56.5%;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 20px;
}
.pagination_first a{
text-align: center;
width: 20px;
height: 23px;
display: inline-block;
background: #FFCC00;
margin-right: 5px;
padding-top: 5px;
color: black;
}
.pagination_first:hover{
    background: #FFFFFF; 
}
.bottom_part{
    margin-bottom: 200px;
}
.enter_user,.registr_user{
    background: #FFFFFF;
    width: 45%;
    padding:50px 100px;
    border-radius: 15px;
   margin: auto;
}
.enter_content,.registr_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enter_content_form input{
display: block;
margin-bottom: 25px;
background: #FFFFFF;
border-radius: 35px;
box-shadow: 5px 10px 20px 2px grey;
border: none;
outline: none;
font-size: 20px;
}
.enter_content_form label{
    display: flex;
    font-size: 20px;
    font-family: gothic;
    gap: 25px;
    justify-content: space-between;
    letter-spacing: 1px;
}
.vip__food__enter__header{
    font-size: 70px;
    font-family: Kaufmann BT;
    text-align: center;
    margin: 0 0 50px -10px;
    letter-spacing: 2px;
}
.enter_content_form{
    position: relative;
    left: -52px;
}
.reg_btn{
    width:52%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    font-size: 25px;
    height: 40px;
    border-radius:7px;
    color: #FFFFFF;
    font-family: gothic;
    float: right;
}
.submenu_item{
    display: flex;
    flex-direction: column;
   z-index: 10;
   padding: 20px!important;
   background: #dab10d;
   margin-top: unset!important;
}
.submenu_item li a{
    font-size: 25px!important;
}
.second_submenu{
    display: flex;
    flex-direction: column;
    padding: 20px!important;
    position: relative!important;
    top: 62px;
    background: #dab10d;
    height: fit-content;
    margin-top: unset!important;
}
.second_submenu li a{
    font-size: 25px!important;
}
.submenu{
    width:100%;
    position: absolute;
    top:120px;
    right: -160px;
}
.right_menu{
    background: none;
    outline: none;
    border: none;
    position: relative;
    top:5px;
}